# GENERAL INFRASTRUCTURE SETTINGS
KAFKA_PORT=9092

# SUBSCRIBER DATABASE
SUB_POSTGRES_USER=sub_user
SUB_POSTGRES_PASSWORD=sub_password
SUB_POSTGRES_DB=subscriber_db
SUB_POSTGRES_PORT=5431

# PROCESSOR DATABASE
PROC_POSTGRES_USER=proc_user
PROC_POSTGRES_PASSWORD=proc_password
PROC_POSTGRES_DB=processor_db
PROC_POSTGRES_PORT=5432